.overlay-container {
    position: relative;
    width: 100%;
    max-width: 350px;
    margin: auto;
    aspect-ratio: 16 / 9;
    overflow: hidden;
}
.overlay-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay-dark {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

#toastBox {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1080;
}
